.injected-container
    h2 Add Temporary Bookmark
    input#folder-name(placeholder='Temporary')
    label(for='folder-name') Folder Name
    input#folder-hours(value='0')
    label(for='folder-hours') Hours
    input#folder-minutes(value='0')
    label(for='folder-minutes') Minutes
    input#folder-submit(type='submit')
