html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Stevens Web Extension Options
        script(src='options.js')
    body
        p This is the options page. Here, users will be able to select which features they want activated.
        #active-features
            input(type='checkbox' name='feature[canvas-integration]' checked)
            label(for='feature[canvas-integration]') Canvas Integration
            input(type='checkbox' name='feature[meal-swipes]' checked)
            label(for='feature[meal-swipes]') Show Meal Swipes
            input(type='checkbox' name='feature[room-availability]' checked)
            label(for='feature[room-availability]') Room Availability
