extends base.pug
block append content
    p.
        This is the default popup for the extension. It can be
        activated by clicking on the extension icon in the
        top-right of your browser.
        This page should be dynamic and update based on child
        templates which query individual features, such as
        updating meal swipes or checking Canvas.
    include features/CanvasData.pug
