extends base.pug
block append head
    //- Maximum dimensions for popup is 800x600px
    style(type='text/css').
        html {
            width: 600px;
        }
    script(type='text/javascript' src='popup.js')
block append content
    h1 Stevens Chrome Extension
    #canvas-integration
        include features/Canvas/CanvasDisplay.pug
    #free-rooms
        include features/FreeRooms/FreeRoomsDisplay.pug
