html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        p This is the default popup for the extension. It can be found by clicking on the extension icon.
