block styles append
    style(type='text/css').
        #update-duckcard {
            cursor: pointer;
        }
h3 Duckcard Status (updated)
h5= updated
if hasAuth
    each bal, acc in duckcard
        .account= acc
            span.balance : #{bal}
else
    .error Cannot get Duckcard data without Stevens credentials (see extension options)
