h3 Upcoming Assignments
each data in assignments ? assignments : []
    .assignment
        .title= data.title
        .due= data.due
else
    .no-assignments There are no upcoming assignments. Yay :)
