style
    include CanvasDisplay.css
h3 Upcoming Assignments
.assignment-container
    each data in assignments ? assignments : []
    .assignment
        .title= data.title
        .due= data.due
        .created_at= data.created
    else
        .no-assignments There are no upcoming assignments. Yay :)
